.slider {
    height: 150px;
    width: calc(100vw - 62px);
    margin: auto;
    display: inline-block;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: none;
    order: 4;
}
.slide:nth-child(n + 1), .section:nth-child(n + 1) {
  display: inline-block;
  margin: auto;
}
.slide {
    width: 225px;
    flex-shrink: 0;
    height: 112.5px;
    margin: auto 18px !important;
    scroll-behavior: smooth;
}
.slide img:active{
border: 1px solid #fc121d;
border-radius: 5px 5px 5px 5px;
}
.slide img {
  width: 225px;
  height: 112.5px;
  border-radius: 5px 5px 5px 5px;
  vertical-align: middle;
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.5);
box-shadow: 0px 3px 10px 1px rgba(0,0,0,0.5);
}
.slide > div {
    scroll-snap-align: start;
}
.section {
  width: 220px;
  text-align: center; 
  vertical-align: middle;
  margin-top: 8px;
}
