.slider {
  height: calc(100vh - 500px);
  width: calc(100vw - 140px);
  margin: auto auto;
  display: inline-block;
  border: dotted 1px #f91a2a;
  border-radius: 5px 5px 5px 5px;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  scroll-snap-type: none;
  order: 4;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  order: 4;
}

.slideTitle {
  transform: translateZ(20px);
  position: absolute;
  top: 50%;
  margin-top: -20px;
  display: none;
}

.slide:hover>.slideTitle {
  display: block;
}

.slide:hover>img {
  opacity: 0.5;
}

.slide {
  width: 50vw;
  flex-shrink: 0;
  margin:18px auto  !important;
  scroll-behavior: smooth;
  transform-style: preserve-3d;
}

.slide img:active {
  border: 1px solid #f91a2a;
  border-radius: 5px 5px 5px 5px;
}

.slide img {
  width: 50vw;
  border-radius: 5px 5px 5px 5px;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.5);
}

.slide>div {
  scroll-snap-align: start;
}

.section {
  width: 220px;
  text-align: center;
  margin: 0 auto;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}
